
{% extends 'penjadwalan/base.html' %}
{% load static %}

            {% block judul %}
            {% for i in kelas_saat_ini %}
            <title>Data Jadwal Kelas {{i.kelas}}</title>
            {% endfor %}
            {% endblock judul%}

   
            {% block link %} 
            <style>
              .button3:hover {
                background-color: #f44336;
                color: white;
              }
            body, html {
                height: 100%;
                margin: 0;
                font-family: Arial;
              }
            p {
                color : white;
            }
            a {
                color : black;
            }
              
              /* Style tab links */
              .tablink {
                background-color: #555;
                color: white;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                font-size: 17px;
                width: 16.667%;
              }
              
              .tablink:hover {
                background-color: #777;
              }
              
              /* Style the tab content (and add height:100% for full page content) */
              .tabcontent {
                color: white;
                display: none;
                padding: 100px 20px;
                height: 100%;
              }
              .card-body, .card {
                color: black;
                
              }

             
              </style>
               
               <h1>
                    <a href="{% url 'index' %}">Dashboard</a>
                    / <b> <a href="{% url 'data_jadwal' %}">Jadwal </a>  </b> 

               </h1> 
                
            {% endblock link %}
            
           {% block table %} 


         <P>
          {% include 'penjadwalan/messages.html' %}

           <form method='post' action='' >
              <select class="btn btn-info dropdown-toggle"  id="pilkelas" name="URL" onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
                  <option value='' >Pilih Kelas</option>
                  {% for i in data %}
                      <option value="{% url 'jadwal' i.id %}"> {{i.kelas|upper}} </a></option>
                  {% endfor %}
              </select>
          </form>
        </P>
          <div class="card"></a>
            <div class="card-header">
              {% for i in kelas_saat_ini %}
                <strong class="card-title">Data Kelas {{ i.kelas|upper }}</strong>
              {% endfor %}
              </div>
            
            <div class="card-body">
        <table id="senin" class="table table-striped table-bordered" >
            <thead>
                <tr>
                        <th>Jam</th>
                        <th>Senin</th>
                        <th>Selasa</th>
                        <th>Rabu</th>
                        <th>Kamis</th>
                        <th>Jumat</th>
                        <th>Sabtu</th>
    
                </tr>
            </thead>         
            <tbody>
              {% for x in jadwal %}
                <tr>
                    <td>{{forloop.counter}}</td> 

                    <!--senin -->
                    {% if x.mapel_senin == '-' %}
                          <td><a href="{% url 'tambah_jadwal' kelas=x.kelas hari=1 jamke=forloop.counter %}">{{x.mapel_senin}}</a></td> 
                    {% else %}
                          <td><a href="{% url 'update_jadwal' kelas=x.kelas hari=1 jamke=forloop.counter %}">{{x.mapel_senin}} | {{x.guru_senin}}</a>     
                            <br> <a href="{% url 'delete_jadwal' x.id_senin %}"><button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button></a>
                        </td>                
                    {% endif %}
                   
                   <!-- selasa -->
                    {% if x.mapel_selasa == '-' %}
                      <td><a href="{% url 'tambah_jadwal' kelas=x.kelas hari=2 jamke=forloop.counter %}">{{x.mapel_selasa}}</a></td> 
                    {% else %}
                      <td><a href="{% url 'update_jadwal' kelas=x.kelas hari=2 jamke=forloop.counter %}">{{x.mapel_selasa}} | {{x.guru_selasa}}</a>
                        <br> <a href="{% url 'delete_jadwal' x.id_selasa %}"><button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button></a>
                      </td> 
                    {% endif %}
                  
                   <!-- rabu -->
                    {% if x.mapel_rabu == '-' %}
                      <td><a href="{% url 'tambah_jadwal' kelas=x.kelas hari=3 jamke=forloop.counter %}">{{x.mapel_rabu}}</a></td> 
                    {% else %}
                     <td><a href="{% url 'update_jadwal' kelas=x.kelas hari=3 jamke=forloop.counter %}">{{x.mapel_rabu}} | {{x.guru_rabu}}</a>
                      <br> <a href="{% url 'delete_jadwal' x.id_rabu %}"><button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button></a>
                    </td> 
                    {% endif %}
                  
                   <!-- kamis -->
                    {% if x.mapel_kamis == '-' %}
                      <td><a href="{% url 'tambah_jadwal' kelas=x.kelas hari=4 jamke=forloop.counter %}">{{x.mapel_kamis}}</a></td> 
                    {% else %}
                      <td><a href="{% url 'update_jadwal' kelas=x.kelas hari=4 jamke=forloop.counter %}">{{x.mapel_kamis}} | {{x.guru_kamis}}</a>
                        <br> <a href="{% url 'delete_jadwal' x.id_kamis %}"><button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button></a>
                      </td> 
                    {% endif %}
                        
                    <!-- jumat -->
                    {% if x.mapel_jumat == '-' %}
                      <td><a href="{% url 'tambah_jadwal' kelas=x.kelas hari=5 jamke=forloop.counter %}">{{x.mapel_jumat}}</a></td> 
                    {% else %}
                     <td><a href="{% url 'update_jadwal' kelas=x.kelas hari=5 jamke=forloop.counter %}">{{x.mapel_jumat}} | {{x.guru_jumat}}</a>
                      <br> <a href="{% url 'delete_jadwal' x.id_jumat %}"><button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button></a>
                    </td> 
                    {% endif %}
                    
                    <!-- sabtu -->
                    {% if x.mapel_sabtu == '-' %}
                      <td><a href="{% url 'tambah_jadwal' kelas=x.kelas hari=6 jamke=forloop.counter %}">{{x.mapel_sabtu}}</a></td> 
                    {% else %}
                     <td><a href="{% url 'update_jadwal' kelas=x.kelas hari=6 jamke=forloop.counter %}">{{x.mapel_sabtu}} | {{x.guru_sabtu}}</a>
                      <br> <a href="{% url 'delete_jadwal' x.id_sabtu %}"><button class="btn btn-warning btn-sm"><i class="fa fa-trash"></i></button></a>
                    </td> 
                    {% endif %}

                </tr>
                {% endfor %}                
            </tbody>
            
        </table>
        </div>
        </div>
            

           <!-- END OF FULL TABS -->
            <!-- .animated -->
        {% endblock%}

        {% block js %}
        
        <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].style.backgroundColor = "";
            }
          
            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";
          
            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
          }
          
          // Get the element with id="defaultOpen" and click on it
          document.getElementById("defaultOpen").click();
        </script>
        {% endblock js %}


   