{% extends 'penjadwalan/base.html' %}
{% load static %}

            {% block judul %}
            {% for x in kelas_selected %}
            <title>Data Siswa Kelas {{x.kelas}}</title>
            {% endfor %}
            {% endblock judul%}

            {% block link %}
               <h1>
                    <a href="{% url 'index' %}">Dashboard</a>
                    / <b> <a href="{% url 'data_siswa' %}">Data Siswa </a>  </b> 

               </h1>             
            {% endblock link %}
           {% block table %} 
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        
                            <a href="{% url 'signup_siswa' %}"><button class="btn btn-primary"><i class="fa fa-plus"></i> Tambah Akun dan Data {{ title }}</button>
                        
                        <div class="card"></a>
                      
                        
                            <div class="card-header">
                                <strong class="card-title">Data Siswa</strong> 
                            </div>
                            
                            <div class="card-body">
                                <form method='post' action='' >

                                <select class="btn btn-info dropdown-toggle"  id="pilkelas" name="URL" onchange="window.location.href= this.form.URL.options[this.form.URL.selectedIndex].value">
                                    <option value='' > Lihat Berdasarkan Kelas </option>
                                    {% for i in kelas %}
                                        <option value="{% url 'siswa_selected_kelas' i.id %}">{{i.kelas|upper}} </a></option>
                                    {% endfor %}
                                    <option value="{% url 'data_siswa' %}">Lihat Keseluruhan </a></option>
                                </select>
                            </form>
                                <hr>
                                <table id="senin" class="table table-striped table-bordered" >
                                   
                                    <thead>
                                        
                                        <tr>
                                            
                                            <th>NO</th>
                                            <th>NIS</th>
                                            <th>Nama</th>
                                            <th>Username</th>
                                            <th>Kelas</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>

                                    <!-- {% for x in data %}
                                            {{x.0}}
                                        {%endfor%} -->

                                        
                                    <tbody>
                                        {% for x in data %}
                                        <tr>
                                           
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ x.nis }}</td>
                                            <td>{{ x.nama }} {{ x.nama_blkg }}</td>
                                            <td>{{ x.user }}</td>
                                            <td>{{ x.kelas }}</td>
                                            <td><a href="{% url 'update_siswa' x.id %}"><button class="btn btn-primary"><i class="fa fa-pencil"></i></button></a> 
                                                <a href="{% url 'delete_siswa' x.user %}" class="confirm-delete"><button class="btn btn-danger"><i class="fa fa-trash"></i></button></a></td>
                                        </tr>
                                        {% endfor %}
                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
        {% endblock%}  

   