<table id="ruang" class="table table-striped table-bordered" >
        <thead>
            <tr>
                    <th>Jam</th>
                    <th>Senin</th>
                    <th>Selasa</th>
                    <th>Rabu</th>
                    <th>Kamis</th>
                    <th>Jumat</th>
                    <th>Sabtu</th>

            </tr>
        </thead>         
        <tbody>
                
            <tr>
                 <td>1</td> 
                 {% for x in jamke1 %}
                 <td>{{x.mapel(hari==1)}}</td>
                 <td>{{x.mapel(hari==2)}}</td>
                 <td>{{x.mapel(hari==3)}}</td>
                 <td>{{x.mapel(hari==4)}}</td>
                 <td>{{x.mapel(hari==5)}}</td>
                 <td>{{x.mapel(hari==6)}}</td>
                 {% endfor %}
            </tr>
            <tr>
                <td>2</td> 
                    {% for x in jamke2 %}
                <td>{{x.mapel}}</td> 
                    {% endfor %}
               </tr>
               <tr>
                    <td>3</td> 
                        {% for x in jamke3 %}
                    <td>{{x.mapel}}</td> 
                        {% endfor %}
                </tr>
                <tr>
                    <td>4</td> 
                        {% for x in jamke4 %}
                    <td>{{x.mapel}}</td> 
                        {% endfor %}
                </tr>
                <tr>
                    <td>5</td> 
                        {% for x in jamke5 %}
                    <td>{{x.mapel}}</td> 
                        {% endfor %}
                </tr>
                <tr>
                    <td>6</td> 
                        {% for x in jamke6 %}
                    <td>{{x.mapel}}</td> 
                        {% endfor %}
                </tr>
                <tr>
                    <td>7</td> 
                        {% for x in jamke7 %}
                    <td>{{x.mapel}}</td> 
                        {% endfor %}
                </tr>
        </tbody>
        
            
    </table>

    