<form>
        <table>
            <tr>
                <td>Mata Pelajaran</td>
                <td><input type="text" name="nama" placeholder="" /></td>
            </tr>
            <tr>
                <td> Kode </td>
                <td><input type="text" name="kode_mapel" placeholder="" /></td>
            </tr>
            <tr>
                <td>Jumlah sks</td>
                <td><input type="text" name="sksFk" placeholder="" /></td>
            </tr>
                    <td></td>
                    <td><button type="submit" name="submit" > Update Data </button></td>
                </tr>
        </table>
    </form>