<form>
    <table>
        <tr>
            <td> NIK </td>
            <td><input type="text" name="nik" placeholder="" /></td>
            
            
        </tr>
        <tr>
            <td> Kode Guru </td>
            <td><input type="text" name="nik_guru" placeholder="" /></td>
        </tr>
        <tr>
            <td>Nama Depan</td>
            <td><input type="text" name="nama_guru" placeholder="" /></td>
        </tr>
        <tr>
                <td>Nama Belakang</td>
                <td><input type="text" name="nama_guru" placeholder="" /></td>
            </tr>
        <tr>
                <td></td>
                <td><button type="submit" name="submit" > Update Data </button></td>
            </tr>
    </table>
</form>