{% extends 'penjadwalan/base.html' %}
{% load static %}
           {% block table %} 
           {{ data.0 }}

            <div class="animated fadeIn">
                <center><a class="navbar-brand" href="{% url 'index' %}"><img style="width:250px" src="{% static 'images/mimpkkartasura.png' %}" alt="Logo"></a></center>
                
                <center><h3>SELAMAT DATANG DI <br>HALAMAN ADMIN 
                    PENJADWALAN MIM PK KARTASURA</h3></center>
                <hr>
            </div><!-- .animated -->
        {% endblock%}    
        