{% extends 'penjadwalan/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block link %}    
    <h1>
    {% for i in back_jadwal %} <a href="{% url 'jadwal' i.kelas.id %}">{% endfor %} Kembali</a> / 
    <b><a href="">Tambah Jadwal</a> </b>
    </h1>
{% endblock link %}

{% block table %} 
<label for="team_name"> {{ ambil_jam}}</label>
<form action="" method="post" class="form-group" >
    {% csrf_token %}
    <table>
        tesssss
        {{ request.get_full_path }}
        
        
   
        {{ add_form|crispy }}
    </table>
   
    <div>
        <button class="btn btn-success" type="submit"> Input Data </button>
    
    </div>
{% endblock table %}